# macOS
.DS_Store
._*

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo

# Sensitive files / local environments & secrets
.env
.env.local
.env.*.local
*.local
*-private.*
*.pem
*.key

# Do NOT ignore safe example files
!.env.example

# Build artifacts & dependencies
node_modules/
target/
vendor/
Gopkg.lock